body {
  font-family: "space grotesk", sans-serif;
  font-size: 18px;
  background-color: #1c1c1c;
  color: #f7f7f7;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Button styles */
.plusButton {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #000;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.plusButton:active {
  transform: translateY(4px);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.1);
}

.plusButton span {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #000;
}

.plusButton .horizontal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plusButton .vertical {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.plusButton.close .horizontal {
  transform: translate(-50%, -50%) rotate(45deg);
}

.plusButton.close .vertical {
  transform: translate(-50%, -50%) rotate(135deg);
}

/* Header Styles */
header {
  text-align: center;
}

header h1 {
  font-size: 10rem;
  font-family: "monofett", monospace;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #1a1a1a;
  padding: 5vh;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  overflow: auto;
}

/* This rule targets direct child elements of elements with the class ".container" */
.container > * {
  flex: 1 1 30%; /* Set flexible properties for flexbox layout */
  /* The flex-grow value of 1 allows the item to grow proportionally to other items */
  /* The flex-shrink value of 1 allows the item to shrink equally with other items */
  /* The flex-basis value of 30% sets the initial size of the item to 30% of the container's width */
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: #ff6a00;
}

nav ul li {
  background-color: transparent;
  margin: 0 10px;
  padding: 10px 20px;
  transition: transform 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

form input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #1a1a1a;
  color: #f7f7f7;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.rating > input {
  display: none;
}

.rating > label {
  font-size: 25px;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  transition: color 200ms;
}

// Star Rating system styles
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { /* hover previous stars in list */
  color: #fcff3f;
}

form input[type="submit"] {
  padding: 10px;
  background-color: #ff3f3f;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  cursor: pointer;
  transition: background-color 200ms;
}

form input[type="submit"]:hover {
  background-color: #f7f7f7;
  color: #1a1a1a;
}

#song-list-aside {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  max-height: 50vh;
  border: #000;
  overflow: none;
  padding-left: 3%;
  padding-bottom: 3%;
}

#songList {
  max-height: 100%; 
  overflow-y: auto;
  flex-grow: 1; //makes the element grow to fill the parent aside element
  list-style: none;
  padding: 0;
  margin: 0;
}

// styling the song list to look like a playlist
#songList li {
  padding: 10px;
  background-color: #1a1a1a;
  border-bottom: 1px solid #ddd;
  color: #f7f7f7;
  cursor: pointer;
}

#songList li:hover {
  background-color: #333;
}

#songList li button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

#songList li button:hover {
  color: #ff3f3f;
}

form#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form input[type="text"],
form input[type="submit"] {
  display: block;
  margin: 10px auto;
}

/* Search Navigation */
/* hide input field in nav */
#searchInput {
  display: none;
}

#searchButton {
  background-color: #ff3f3f;
  border: none;
  color: #f7f7f7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.rotate {
  animation: rotation 0.5s linear;
}

/* Media Queries and CSS Breakpoints*/
@media screen and (max-width: 1920px) {
  /* Styles for screens with a maximum width of 1920px (typical for desktops) */
}

@media screen and (max-width: 1024px) {
  /* Styles for screens with a maximum width of 1024px (typical for laptops) */
}

@media screen and (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px (typical for tablets and smartphones) */
}

@media screen and (max-width: 480px) {
  /* Styles for screens with a maximum width of 480px (typical for smartphones) */
}
