body {
  /* Global Styles for font, color and overflow */
  /*fonts are imported from google fonts CDN*/
  font-family: "space grotesk", sans-serif;
  font-size: 18px;
  background-color: #1c1c1c;
  color: #f7f7f7;
  overflow: auto;
  /* Header Styles */
  header {
    text-align: center;
    h1 {
      font-size: 10rem;
      font-family: "monofett", monospace;
      margin: 0;
    }
    /* Navigation Styles */
    nav {
      ul {
        /*ensures the list is displayed as a horizontal row and its contents are centred*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        background-color: #ff6f00;
        li {
          padding: 10px 20px;
        }
      }
    }
  }

  /* Main Styles */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: fit-content;
    /*dialog styles*/
    dialog {
      background-color: #5c5c5c;
      color: #ddd;
      padding: 3%;
      justify-content: center;
      align-items: center;
      dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.835);
      }
      .btn {
        padding: 10px;
        background-color: #ff3f3f;
        border: none;
        border-radius: 5px;
        color: #1a1a1a;
        cursor: pointer;
        transition: background-color 200ms;
      }
      .btn:hover {
        background-color: #f7f7f7;
        color: #1a1a1a;
      }
    }
    .container {
      width: 80%;
      margin: auto;
      background-color: #1a1a1a;
      padding: 5vh;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 100%;
      overflow: auto;
    }
    /* This rule targets direct child elements of elements with the class ".container" */
    .container > * {
      flex: 1 1 30%; /* Set flexible properties for flexbox layout */
      /* The flex-grow value of 1 allows the item to grow proportionally to other items */
      /* The flex-shrink value of 1 allows the item to shrink equally with other items */
      /* The flex-basis value of 30% sets the initial size of the item to 30% of the container's width */
    }
    /*form styles*/
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      /*input styles*/
      input[type="text"] {
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #1a1a1a;
        color: #f7f7f7;
        display: block;
        margin: 10px auto;
      }
      input[type="submit"] {
        padding: 10px;
        background-color: #ff3f3f;
        border: none;
        border-radius: 5px;
        color: #1a1a1a;
        cursor: pointer;
        transition: background-color 200ms;
        display: block;
        margin: 10px auto;
      }
      input[type="submit"]:hover {
        background-color: #f7f7f7;
        color: #1a1a1a;
      }
      label {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        direction: rtl;
        > input {
          display: none;
        }
        > label {
          font-size: 25px;
          color: #ddd;
          cursor: pointer;
          display: inline-block;
          margin: 0;
          transition: color 200ms;
        }
      }
      // Star Rating system styles
      .rating > input:checked ~ label, /* show gold star when clicked */
      .rating:not(:checked) > label:hover, /* hover current star */
      .rating:not(:checked) > label:hover ~ label {
        /* hover previous stars in list */
        color: #fcff3f;
      }
    }
    #song-list-aside {
      display: flex;
      flex-direction: column;
      width: 50%;
      background-color: #1a1a1a;
      box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      max-height: 50vh;
      border: #000;
      overflow: none;
      padding: 3%;
      /*song list styles*/
      #songList {
        max-height: 100%;
        overflow-y: auto;
        flex-grow: 1; //makes the element grow to fill the parent aside element
        list-style: none; //removes bullet points
        padding: 0;
        margin: 0;
        // styling the song list to look like a playlist
        li {
          padding: 10px;
          background-color: #1a1a1a;
          border-bottom: 1px solid #ddd;
          color: #f7f7f7;
          cursor: pointer;
          button {
            border: none;
            background: transparent;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
          }
          button:hover {
            color: #ff3f3f;
          }
        }
        li:hover {
          background-color: #333;
        }
      }
    }
  }
}



/* Media Queries and CSS Breakpoints/
This ensure the app is responsive, functional and user friendly on all screen sizes */

@media screen and (max-width: 1920px) {
  /* For larger desktop screens, increase the size of the song list for easier reading and interaction. */
  #song-list-aside {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  /* For smaller laptop screens, adjust the song list and container width to a smaller size to ensure they fit within the viewport */
  #song-list-aside {
    width: 50%;
  }
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  /* For tablets and smaller devices, present the song list and container in a single column for better readability */
  .container, #song-list-aside {
    width: 100%;
  }
  /* Make the font a little smaller to better fit the viewport */
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  /* For mobile devices, continue with the single-column layout and make further adjustments for the smaller screen size. */
  body {
    font-size: 14px; /* Decrease font size */
  }
  /* Make the song list items and buttons larger for easier interaction on a touchscreen */
  #songList li, button {
    padding: 15px;
  }
}
