body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  padding: 20px;
  color: #F7F7F7;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #1A1A1A;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-bottom: 20px;
  background-color: #1A1A1A;
}

nav ul li {
  background-color: #FF3F3F;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}

nav ul li a {
  color: #F7F7F7;
  transition: color 0.3ms ease;
}

nav ul li a:hover {
  color: #1A1A1A;
}

nav ul li a.selected {
  color: #1A1A1A;
}

form#songForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

form input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #1A1A1A;
  color: #F7F7F7;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  direction: rtl;
}

.rating > input {
  display: none;
}

.rating > label {
  font-size: 25px;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  transition: color 200ms;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #fcff3f;
}

form input[type="submit"] {
  padding: 10px;
  background-color: #FF3F3F;
  border: none;
  border-radius: 5px;
  color: #1A1A1A;
  cursor: pointer;
  transition: background-color 200ms;
}

form input[type="submit"]:hover {
  background-color: #F7F7F7;
  color: #1A1A1A;
}

#songForm, #songListContainer {
  display: none;
}

.plusButton {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #000;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.plusButton span {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #000;
}

.plusButton .horizontal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plusButton .vertical {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.plusButton.close .horizontal{
  transform: translate(-50%, -50%) rotate(45deg);
}

.plusButton.close .vertical{
  transform: translate(-50%, -50%) rotate(135deg);
} 


#songListContainer{
  width: 50%;
  background-color: #1A1A1A;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.container{
  display: flex;
  justify-content: space-between;
}

form#songForm{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form input[type="text"],
form input[type="submit"]{
  display: block;
  margin: 10px auto;
}

/* Add Bubbles to Visualisation */
.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FF3F3F;
  color: #1A1A1A;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bubble:hover {
  background-color: #F7F7F7;
  color: #1A1A1A;
}

.deleteButton {
  background-color: #FF3F3F;
  color: #F7F7F7;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

