body {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  background-color: #1c1c1c;
  padding: 20px;
  color: #f7f7f7;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Button styles */
#addSongButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.clicked {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #ff0000;
}

/* Header Styles */
header {
  text-align: center;
}

header h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}

button {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-bottom: 20px;
  background-color: #1a1a1a;
}

nav ul li {
  background-color: transparent;
  margin: 0 10px;
  padding: 10px 20px;
  transition: transform 0.3s ease;
}

nav ul li a {
  color: #f7f7f7;
  transition: color 0.3ms ease;
  text-decoration: none;
}

nav ul li a:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.2);
}

nav ul li:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.1);
}

form#songForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

form input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #1a1a1a;
  color: #f7f7f7;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.rating > input {
  display: none;
}

.rating > label {
  font-size: 25px;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  transition: color 200ms;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #fcff3f;
}

form input[type="submit"] {
  padding: 10px;
  background-color: #ff3f3f;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  cursor: pointer;
  transition: background-color 200ms;
}

form input[type="submit"]:hover {
  background-color: #f7f7f7;
  color: #1a1a1a;
}

#songForm,
#songListContainer {
  display: none;
}

#songListContainer {
  width: 50%;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
}

form#songForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form input[type="text"],
form input[type="submit"] {
  display: block;
  margin: 10px auto;
}

#songListContainer {
  width: 50%;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.plusButton {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #000;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.plusButton:active {
  transform: translateY(4px);
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.1);
}

.plusButton span {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #000;
}

.plusButton .horizontal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plusButton .vertical {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.plusButton.close .horizontal {
  transform: translate(-50%, -50%) rotate(45deg);
}

.plusButton.close .vertical {
  transform: translate(-50%, -50%) rotate(135deg);
}

#songListContainer {
  width: 50%;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* Search Navigation */
/* hide input field in nav */
#searchInput {
  display: none;
}

#searchButton {
  background-color: #ff3f3f;
  border: none;
  color: #f7f7f7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#moodVisualisation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

#moodVisualisation div {
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.rotate {
  animation: rotation 0.5s linear;
}
